 <!-- <section class="p-2">

    <div class="header-admin-news">

        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="item-header">
                    <div class="title">
                        <h3>News</h3>
                        <div class="toggle">
                            <h6>All</h6>
                            <h6>Pinned</h6>

                        </div>
                    </div>  
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="date">

                        <div class="flex-auto">
                              <label for="icondisplay" class="font-bold block mb-2"> Default Icon </label> 
                             <p-calendar 
                                [(ngModel)]="date2" 
                                [iconDisplay]="'input'" 
                                [showIcon]="true" 
                                inputId="icondisplay" /> 
                         <input  type="date" placeholder="From" class="form-control"> 

                          
                        </div> 
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="codes">
                        <div class="card flex justify-content-center">
                            <label for="icondisplay" class="font-bold block mb-2"> Default Icon </label> 

                            <p-dropdown 
                            [options]="cities" 
                            [(ngModel)]="selectedCity"
                            [checkmark]="true" 
                            optionLabel="name" 
                            [showClear]="true"
                            placeholder="Select a City" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</section> 
 -->
