<section>
    <div class="container p-2">
        <div class="tittle">
        <h3>Template Four</h3>
        <div class="close">
            <i class="pi pi-times"style="font-size: 1rem"></i>

        </div>
        </div>
        <div class="form">
            <form >
                <div class="item">
                    <label >News Sub Title<span>*</span></label>
                    <input class="titleOfNews" type="text">
                </div>
                <div class="row ">
                    <div class="col-md-6">
                        <div class="item">
                            <label >News Description <span>*</span></label>
                            <textarea class="DescriptionOfNews"name="" id="" cols="30" rows="7"></textarea>
                        </div>        
                    </div>
                    <div class="col-md-6">
                        <div class="item">
                        <label > Upload Image <span>*</span></label>

                        <label class="upload">
                        <div class="text-center">
                        <i class="fa-solid fa-cloud-arrow-up fa-2x mb-2"></i>
                        <p>Drag and drop Image here</p>

                        </div>
                        </label> 
                        </div>

                    </div>
                    
                </div>
               


                <div  style="width: fit-content; margin: auto;">
                <a class="add">Submit</a>

                </div>
            </form>
        </div>

    </div>
</section>