<section>
    <div class="container p-2">
        <div class="tittle">
        <h3>Template Eight</h3>
        <div class="close">
            <i class="pi pi-times"style="font-size: 1rem"></i>

        </div>
        </div>
        <div class="form">
            <form >
                <div class="item">
                    <label >Embedded Youtube URL<span>*</span></label>
                    <input class="titleOfNews" type="text">
                </div>
                <div class="item">
                    <label >News Sub Title<span>*</span></label>
                    <input class="titleOfNews" type="text">
                </div>


               


                <div  style="width: fit-content; margin: auto;">
                <a class="add">Submit</a>

                </div>
            </form>
        </div>

    </div>
</section>