<header>
    <div class="upheader"></div>
    <div class="downheader"></div>

    <div class="sliderBar">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="layer"></div>
                <img src="assets/Rectangle 5654.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <div class="layer"></div>

                <img src="assets/Rectangle 5654.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <div class="layer"></div>

                <img src="assets/Rectangle 5654.png" class="d-block w-100" alt="...">
              </div>
            </div>

          </div> 
    </div>
</header>
<div class="container">

<section class="definition">
<h2>Sixteenth session of UNCCD Conference of the Parties (COP16) in Riyadh</h2>
<div class="configration">
    <div class="side">
        <img src="assets/Ellipse.png" alt="">
        <p class="publisher">COP16</p>
        <p class="NewsTybe">Press Release </p>
        <p class="publishedDate">Oct 9, 2024</p>

    </div>
    <div class="share">
        <i class="fa-solid fa-share-nodes"></i>
    </div>
</div>
<h3>The sixteenth session of the Conference of the Parties (COP16) of the United Nations Convention to Combat Desertification (UNCCD) will take place in Riyadh, Saudi Arabia, from 2 to 13 December 2024.</h3>
<p>UNCCD COP 16 is more than a critical milestone – it represents a moonshot moment to raise global ambition and accelerate action on land and drought resilience through a people-centered approach.</p>
<p>The United Nations Convention to Combat Desertification (UNCCD) is the global voice for land and one of the three major UN treaties known as the Rio Conventions, alongside climate and biodiversity.</p>
<p>The Conference of the Parties (COP) is the main decision-making body of UNCCD’s 197 Parties – 196 countries and the European Union. COP16 will take place in Riyadh, Saudi Arabia from 2-13 December 2024 under the theme Our Land. Our Future.</p>
<p>Coinciding with the 30th anniversary of UNCCD, COP16 will be the largest UN land conference to date, and the first UNCCD COP held in the Middle East and North Africa region, which knows first-hand the impacts of desertification, land degradation and drought.</p>
<p>COP16 is poised to be a game-changer, marking a renewed global commitment to accelerate investment and action to restore land and boost drought resilience for the benefit of people and planet.</p>


</section>

<div class="slider">
    <h2>Related news</h2>
    <div class="row">
        <div class="col-md-4">


        
        <div class="item">
        <div class="image">
            <img src="../../assets/Frame 170.png" class="w-100" alt="">
            <div class="share">
                <i class="fa-solid fa-share-nodes"></i>
            </div>
        </div>
        <h5>The Blog Or News Title Will Be In This Space He..</h5>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>

        <p>  The point of using Lorem Ipsum is that it has a more-or-less normal distribution of lette...</p>

        <div class="configration">
            <div class="side">
                <img src="assets/Ellipse.png" alt="">
                <p class="publisher">COP16</p>
                <p class="NewsTybe">Press Release </p>

            </div>
            <div class="">
                <p class="publishedDate">Oct 9, 2024</p>
            </div>
        </div>
        </div>
        </div>
    </div>
</div> 
</div>