<section>
    <div class="container py-2">
        <div class="tittle ">
        <h3>Template Two</h3>
        <div class="close">
            <i class="pi pi-times"style="font-size: 1rem"></i>

        </div>
        </div>
        <div class="form">
            <form >

                <div class="item">
                    <label >News Description <span>*</span></label>
                    <textarea class="DescriptionOfNews"name="" id="" cols="50" rows="7"></textarea>
                </div>
               
                <div style="width: fit-content;" class="m-auto">
                <a class="add">Submit</a>
  
                </div>
            </form>
        </div>

    </div>
</section>